.particle-background {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 1;
  transition: opacity 600ms ease-out;
}

.particle-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.particle-background.fade-out {
  opacity: 0;
}
